*{
  box-sizing: border-box;
  margin: 0;
  transition: 0.2s;
  text-decoration: none!important;
  list-style: none!important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../public/fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ------------------------- */

.cards{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card{
  width: 250px;
  max-width: 250px;
  min-width: 250px;
  overflow: hidden;
  border: none;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.195);
  text-align: center;
  margin: 10px;
}

.card:hover{
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.236);
  cursor: pointer;
}

.card:hover .nombre{
  font-weight: bold;
}

.card p{
  margin: 0px;
}

.cont-img{
  width: 100%;
}

.cont-img p{
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.9);
  font-weight: bold;

  position: absolute;
  border-radius: 5px;

  margin-left: 4px;
  margin-top: 4px;
}

.cont-img img{
  width: 250px;
  height: 200px;
  object-fit: cover;
}

.card .categoria{
  color: rgb(61, 61, 61);
  font-size: 0.8rem;
  margin-top: 10px;
}

.card .nombre{
  color: rgb(255, 184, 0);
}

.card .precio{
  font-size: 0.8rem;
}

.card .descripcion{
  font-size: 0.8rem;
  color: rgb(47, 47, 47);
  margin: 10px 0px;
  margin-bottom: 15px;
}

.btn-eliminar{
  padding: 0;
  text-align: center;
  border: 1px solid black;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  position: absolute;
  right: 5px;
  font-weight: bold;
  background-color: white;
}

.btn-eliminar:hover{
  background-color: rgba(246, 106, 13);
}

/* --------------------------------- */
.cont-portada img{
  width: 300px;
  object-fit: cover;
}

.links{
  text-decoration: none;
}

.nav-link:hover{
  color: rgba(246, 106, 13)!important;
}

.cont-edit{
  height: 40px;
}

.cont-input-img{
  display: flex;
  justify-content: space-between;
}

.cont-portada{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url('../public/fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cont-portada .cont-info{
  width: 400px;
  margin: 40px;
  text-align: center;
}

.cont-portada .cont-info h2{
  font-size: 2rem;
  margin-bottom: 20px;
}

.cont-portada .cont-lista{
  width: 400px;
  margin: 40px;
}

.cont-lista{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cont-lista a{
  text-decoration: none;
  list-style: none;
}

.cont-lista li{
  width: 200px;
  height: 40px;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  color: rgba(246, 106, 13);
  background-color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

.cont-lista li:hover{
  color: white;
  background-color: rgba(246, 106, 13);
}

.borde{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.184);
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.053); 
  border-radius: 30px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.816);
}

.cont-fondo{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  padding: 20px 30px;
  padding-bottom: 40px;
}

.cont-edit{
  display: flex;
  width: 100%;
  justify-content: center;
}

.btn-editar{
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  color: white;
  background-color: rgba(246, 106, 13);
  font-weight: bold;
  height: 30px;
  border-radius: 15px;
  width: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-bottom: 10px;
}

.btn-editar:hover{
  color: white;
  background-color: rgba(247, 71, 22);
}

.btn-editar-pr{
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  color: white;
  background-color: rgba(246, 106, 13);
  font-weight: bold;
  height: 40px;
  border-radius: 20px;
  width: 200px;
  margin-top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-bottom: 10px;
}

.btn-editar-pr:hover{
  color: white;
  background-color: rgba(247, 71, 22);
}